body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

}

body::before {
    content: "";
    position: fixed;
    inset: 0;
    background: rgba(255, 240, 245, 0.6); /* soft pink veil */
    z-index: -1;
}

h1 {
    color:darkred;
    font-size: 40px;
    font-family: cursive;
    font-weight: bold;
    text-shadow: 0 4px 15px rgba(0,0,0,0.15);
}

button {
    height: 70px;
    width: 200px;
    border-radius: 10px; 
}

.buttons {
    display: flex;
    gap: 20px;
}

.heart {
    position: fixed;
    bottom: 20px;
    font-size: 2rem;
    animation: floatUp 2s linear forwards;
}

@keyframes floatUp {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(-100vh);
        opacity: 0;

    }

}

button:hover {
    background-color: #F9629F ;
    transform: scale(1.20);
    opacity: 1; 
    

}
button:active {
              transform: scale(0.85);
            }

 #no {
   
    
 }

 